body{
	padding:0;
	margin:0;
	font-size:14px;
	font-family:arial;
	

}
.body1{
width:1000px;
border:1px solid black;
margin:auto;
display:grid;
}
.box1{
margin:0px 10px;
text-align:center;
}
.box1 img{
width:100%;
}


.box2{

margin:0px 10px;
text-align:center;
}
.box2 img{
width:100%;
}

.box3{
margin:0px 10px;
text-align:center;
}
.box3 img{
width:100%;
}
.boxhead{
width:100%;

}
.box4{
width:31.3%;
margin:0px 10px;
text-align:center;
float:left;

}
.box4 img{
width:100%;
}
.box5{
width:48.7%;

margin:0px 5px;
text-align:center;
float:left;
}
.box5 img{
width:100%;
}
.box6{
width:23.9%;


margin:0px 5px;
text-align:center;
float:left;
}
.box6 img{
width:100%;
}